.nav{
    display: flex;
    padding: 3rem;
    gap: 25rem;
    list-style: none;
    margin-left: 7%;
    font-size: 25px;
    /* background-color: cornsilk; */
}
body{
    background-color: aliceblue;
}